    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__info">
            <a class="logo" href="#">
              <picture class="logo__img">
                <source srcset="images/footer-logo.avif" alt="logo" type="image/avif">
                <source srcset="images/footer-logo.webp" alt="logo" type="image/webp">
                <img src="images/footer-logo.png" alt="logo">
              </picture>
            </a>
            <a class="copyright footer__link" href="#">
              ВАЗ-2114.ру - Всё  про «четырку»
            </a>
          </div>
          <ul class="footer__nav">
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Главная
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Новости
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Техническое обслуживание
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                ВАЗ-2114 для новичков
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Сравнение с другими
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Где находится?
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Видео про «четырку»
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Ответы на вопросы
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Отзывы владельцев
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Гос. номера
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Руководство по эксплуатации
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-item footer__menu-item--title">
              Техническое обслуживание
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Двигатель
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Под капотом
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Освещение
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Фильтры
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Датчики
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Масла и жидкости
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Ходовая и подвеска
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Электрика
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Трансмиссия
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Колёса
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Тормоза
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Выхлоп
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Кузов
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Стёкла и зеркала
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Салон
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Мультимедиа
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Кнопки и электроника
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Руль
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Приборная панель
              </a>
            </li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__menu-item footer__menu-item--title">
              Водителю на заметку
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Правила дорожного движения
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Аксессуары
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Рекомендации
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                ДТП и страхование
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Продавцы и магазины
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                БПАН
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Цены на ВАЗ-2114
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__link" href="#">
                Мастерские, сервисы и СТО
              </a>
            </li>
            <a class="footer__link" href="#">
              Тюнинг «четырки»
            </a>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/main.min.js"></script>
</body>

</html>